:root {
    --clr-dark-cyan: hsl(158, 36%, 37%);
    --clr-very-dark-cyan: hsl(158, 36%, 20%);
    --clr-cream: hsl(30, 38%, 92%);

    --clr-very-dark-blue: hsl(212, 21%, 14%);
    --clr-dark-grayish-blue: hsl(228, 12%, 48%);
    --clr-white: hsl(0, 0%, 100%);

    --ff-accent: 'Fraunces', serif;
    --ff-base: 'Montserrat', sans-serif;

    --fw-regular: 500;
    --fw-bold: 700;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, 
*::before, 
*::after {
    box-sizing: border-box;
}
/*
2. Remove default margin
*/
* {
    margin: 0;
}
/*
3. Allow percentage-based heights in the application
*/
html, 
body {
    height: 100%;
}
/*
Typographic tweaks!
4. Add accessible line-height
5. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
/*
6. Improve media defaults
*/
img, 
picture, 
video, 
canvas, 
svg {
    display: block;
    max-width: 100%;
}
/*
7. Remove built-in form typography styles
*/
input, 
button, 
textarea, 
select {
    font: inherit;
}
/*
8. Avoid text overflows
*/
p, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    overflow-wrap: break-word;
}

/* general styling */

body {
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    font-size: 0.875rem;
    color: var(--clr-dark-grayish-blue);
    background-color: var(--clr-cream);

    display: grid;
    place-content: center;
}

/* utilities */

.flex-group {
    display: flex;
    align-items: center;
    gap: 1.2em;
}

/* card styles */

.card {
    display: grid;
    background-color: var(--clr-white);
    border-radius: 0.5rem;
    margin: 1em;
    overflow: hidden;
    max-width: 600px;
}

@media (min-width: 600px) {
    .card {
        grid-template-columns: 1fr 1fr;
    }
}

.card__content {    
    padding: 1.9em;
    display: grid;
    gap: 1rem;
}

.card__category {
    text-transform: uppercase;    
    letter-spacing: 6px;
}

.card__title {
    font-family: var(--ff-accent);
    font-size: 2rem;    
    color: var(--clr-very-dark-blue);
    line-height: 1.1;    
}

.description {    
    line-height: 1.7;
}

.card__price {
    font-family: var(--ff-accent);    
    font-size: 2rem;
    font-weight: 700;
    color: var(--clr-dark-cyan);
}

.card__price-original {    
    text-decoration: line-through;
}

.button {
    cursor: pointer;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;

    font-size: 0.925rem;
    font-weight: var(--fw-bold);        
    text-align: center;
    color: var(--clr-white);    
    
    border: 0;
    border-radius: 0.5rem;    
    padding: 0.75em 1.5em;
    background-color: var(--clr-dark-cyan);
}

.button[data-icon="shopping-cart"]::before {
    content: "";
    background-image: url('images/icon-cart.svg');
    width: 15px;
    height: 16px;    
}

.button:is(:hover, :focus) {
    background-color: var(--clr-very-dark-cyan);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}